mixin circle(settings)
    - const bgImg = (settings && settings.image) ? `background-image: url(${settings.image})`:'';
    - let className = 'circle';
    - if (settings && settings.size) {
    -   className = `${className} ${className}_${settings.size}`;
    - }
    div(class=className style=bgImg)