mixin sectionHeader(settings)
    - const { title='', isDistant=false } = settings;
    - const image = require(`../../common.blocks/section-header/img/${title}-icon.svg`);
    - const iconInlineStyle = `background-image: url(${image})`;
    - const titleModifiers = { distant: 'section-header__title_distant' };
    - let titleClass = 'section-header__title';
    - if (isDistant) {
    -   titleClass += ` ${titleModifiers.distant}`;
    - }
    header.section-header
        .section-header__icon(style=iconInlineStyle)
        h2(class = titleClass)= title
        .section-header__line