mixin list(data, settings)
    - const options = settings || {};
    - const { titleColor } = options;
    - const titleColorModifiers = { blue: 'list__title_color_blue' };
    - let titleClass = 'list__title';
    - if (titleColor in titleColorModifiers) {
    -   titleClass += ` ${titleColorModifiers[titleColor]}`;  
    - }
    ul.list
        each val in data
            li.list__item
                - const { title, start, end, place, description } = val;
                h3(class = titleClass)= title
                h3.list__date= `${start} - ${end}`
                h3.list__place= place
                p.list__description= description