mixin header(content)
    - const { firstName, lastName, jobTitle, photoPath } = content;
    - let photoInlineStyle = '';
    - if (photoPath) {
    -   const photo = require(`../../${photoPath}`);
    -   photoInlineStyle = `background-image: url(${photo})`;
    - }
    header.header
        .header__photo(style=photoInlineStyle)
        h1.header__name
            p.header__firstname= firstName
            p.header__lastname= lastName
        p.header__job-title= jobTitle